@import "../../scss/variables";
@import "../../scss/media";

.register-form {
  background-color: $white-color;
  width: 340px;

  @include media(sm) {
    width: 370px;
  }

  h3 {
    color: $dark-color;
  }
}
