$white-color: #fff;
$black-color: #000;
$dark-color: #555;

$main-color: #3c5b9b;
$main-color-2: #4167b2;
$light-gray-color: #e9eaef;
$dark-gray-color: #bcc0c4;

$error-color: rgb(217, 20, 20);

$light-gray-color-2: #f8f8f8;
